*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.seccion1{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedorSeccion1{
    width: 80%;
    height: 80vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}